<%- include('../partials/head.ejs', {page: `Pin - ${pin.title}` }) %>
<%- include('../partials/header.ejs') %>

<!-- Update button -->
<a href="/updatePin/<%= pin._id.toString() %>">Edit</a>

<!-- Delete button-->
<a href="/deletePin/<%= pin._id.toString() %>">Delete</a>

<!-- Display the info that a pin encapsulates -->
<div class="container px-4">
    <div class="row gx-5">
        <div class="col-4">
            <h5><%= pin.title %></h5>
            <figure class="figure">
                <img src="<%= pin.image %> " class="figure-img img-fluid rounded" />
                <figcaption class="figure-caption"><%= pin.description %> </figcaption>
              </figure>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/foot.ejs') %>